 * {
     box-sizing: border-box;
 }
 
 body {
     text-align: center;
     background-color: azure;
 }


 input {
     width: 550px;
     padding: 10px;
     border: 2px solid rgb(144, 144, 168);
     border-radius: 5px;
     margin: 20px;
 }

 .search {
     margin-top: 40px;
 }


 /* grid layout for images */

 .gallery {
     display: grid;
     grid-template-columns: repeat(4, 200px);
     grid-template-rows: repeat(3, 1fr);
     justify-content: center;
     gap: 30px;
     
    }