 * {
     box-sizing: border-box;
 }
 
 body {
     text-align: center;
     background-color: azure;
 }


 input {
     width: 550px;
     padding: 10px;
     border: 2px solid rgb(144, 144, 168);
     border-radius: 5px;
     margin: 20px;
 }

 .search {
     margin-top: 40px;
 }

 /* grid layour for images */

 .container {
     display: grid;
     max-width: 800px;
 }